<div class="container">
  <h1>Productos</h1>
  <div class="product-grid">
    {{#each products}}
    <div class="product-card">
      <img src="{{this.thumbnail}}" alt="{{this.title}}" class="product-img" />
      <h3 class="product-title">
        <a href="/products/{{this._id}}">{{this.title}}</a>
      </h3>
      <p class="product-price">$ {{this.price}}</p>
    </div>
    {{/each}}
  </div>

  <div class="pagination">
    {{#each links}}
    <a href="{{this.link}}" class="page-link">{{this.text}}</a>
    {{/each}}
  </div>
</div>
