<div class="container">
  <h1>{{product.title}}</h1>
  <img src="{{product.thumbnail}}" alt="{{product.title}}" class="product-img">
  <p><strong>Precio:</strong> ${{product.price}}</p>
  <p><strong>Categoría:</strong> {{product.category}}</p>
  <p>{{product.description}}</p>

  <a href="/" class="page-link">Volver al listado</a>
</div>
